.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #504f4f;
  height: 1024px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1035px;
  top: 74px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: center;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 123px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 123px;
}
.bmgt-407 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 66px;
  width: 202px;
  height: 103px;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1260px;
  position: absolute;
  left: 118px;
  top: 194px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 79px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.professor-contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 385px;
  position: relative;
}
.professor-contact2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.ta-contact {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 449px;
  height: 228px;
  position: relative;
}
.ta-contact2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.bharath-sreekumar-bsreekum-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 23px;
}
.caifu-lin-clin-0817-terpmail-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 26px;
}
.sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 26px;
}
