.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #504f4f;
  height: 1024px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1012px;
  top: 79px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: center;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 123px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 123px;
}
.bmgt-407 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 77px;
  width: 202px;
  height: 103px;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: flex-start;
  width: 1137px;
  position: absolute;
  left: 162px;
  top: 226px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.call-to-action-button {
  background: #a8ff35;
  border-radius: 10px;
  padding: 14px 21px 14px 21px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 641px;
  top: 432px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #0b0909;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
